<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nds.nanodegree.movieapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.Activities.LauncherActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".views.Activities.MovieDetailActivity"
            android:parentActivityName=".views.Activities.LauncherActivity"
            android:label="@string/detail_activity_title" android:configChanges="orientation"/>

        <provider android:name=".dbo.MovieContentProvider"
            android:authorities="com.nds.nanodegree.movieapp"
             android:exported="false"/>

        <activity android:name=".views.Activities.MovieSettingsActivity" />

    </application>

</manifest>